@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Lato, "Helvetica Neue", helvetica, sans-serif;
}

nav{
    background-color: #23252B;
}

ul{
    list-style: none;
}

nav li{
    display: inline-block;
}

nav li a{
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

nav li a:hover{
    background-color: #141519;
    color: white;
}

.logo:hover{
 filter: brightness(100);
}

.dropdown-menu{
    position: absolute;
    display: none;
}

.dropdown-menu a{
    display: block;
    background-color: #141519;
}

.dropdown-menu a:hover{
    background-color: #23252B;
}